<div style="display: flex; margin-bottom: 20px;">
  <div style="flex: 1"></div>
  <button mat-raised-button color="warn" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="employeeFormGroup">
  <div style="display: flex; margin-bottom: 20px;">
    <h2>Employee Form</h2>
    <div style="flex: 1"></div>
    <mat-slide-toggle formControlName="isActiveControl" style="margin-top: 10px;">Active</mat-slide-toggle>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" formControlName="firstNameControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" formControlName="lastNameControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="titleControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="Email" formControlName="emailControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Default Phone Number</mat-label>
    <input matInput placeholder="Default" formControlName="defaultPhoneNumberControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Home Phone Number</mat-label>
    <input matInput placeholder="Home" formControlName="homePhoneNumberControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cell Number</mat-label>
    <input matInput placeholder="Cell" formControlName="cellNumberControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Fax</mat-label>
    <input matInput placeholder="Fax" formControlName="faxControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Home Fax</mat-label>
    <input matInput placeholder="Home Fax" formControlName="homeFaxControl">
  </mat-form-field>
</form>

<div style="display: flex">
  <div style="flex: 1"></div>
  <button mat-raised-button color="warn" (click)="deleteEmployee()">Delete</button>
  <button mat-raised-button color="accent" (click)="newEmployee()" [disabled]="!employeeFormGroup.valid">New</button>
  <button mat-raised-button color="primary" (click)="saveEmployee()" [disabled]="!employeeFormGroup.valid || !employeeFormGroup.dirty">Save</button>
</div>
